<ion-view view-title="Share this app" class="vibes-page">
    <ion-content class="center-content">
        <div class="share-app">
            <ion-item>
                <i class="icon-social-fb ion-social-facebook" ng-click="shareThisAppCtrl.shareViaFacebook"></i>
            </ion-item>
            <ion-item>
                <i class="icon-social-twitter ion-social-twitter" ng-click="shareThisAppCtrl.shareViaTwitter()"></i>
            </ion-item>
            <ion-item>
                <i class="icon-social-whatsapp ion-social-whatsapp" ng-click="shareThisAppCtrl.shareViaWhatsApp()"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
