<ion-view view-title="Share app" class="vibes-page">
    <ion-content class="settings-content">
            <button class="button button-block button-light" type="button" ng-click="shareThisAppCtrl.shareViaFacebook()">
                
                <i class="icon-social-fb ion-social-facebook"></i>
                <p class="button-text">Share in facebook<p>
            </button>
            <button class="button button-block button-light" type="button" ng-click="shareThisAppCtrl.shareViaTwitter()">
                <i class="icon-social-twitter ion-social-twitter"></i>
                <p class="button-text">Share in twitter</p>
            </button>
            <button class="button button-block button-light" type="button" ng-click="shareThisAppCtrl.shareViaWhatsApp()">
                <i class="icon-social-whatsapp ion-social-whatsapp"></i>
                <p class="button-text">Share in whatsapp</p>
            </button>
    </ion-content>
</ion-view>
