<ion-view ng-style="{'background': 'url({{channel.face}}) no-repeat center center fixed',
'background-size':'cover',
'-webkit-background-size': 'cover',
'-moz-background-size': 'cover',
'-o-background-size': 'cover'}" view-title="{{channel.name}}">
    <ion-content class="center-content">
        <div align="center">
            <img class="song-cover" align="right" src="{{songCover}}">

            <button class="play-btn" ng-click="play()" ng-show="playing!==true"></button>
            <button class="pause-btn" ng-click="pause()" ng-show="playing!==false"></button>

            <div class="row">
                <div class="song-info">
                    <h4 align="left">Title: {{songTitle}}</h4>
                    <h4 align="left">Artists: {{songArtists}}</h4>
                </div>
            </div>

            <audio id="audio">
                <source src="http://listen.radionomy.com/vadapav" type="audio/mp3"/>
            </audio>
        </div>
    </ion-content>
</ion-view>
