<ion-view view-title="{{channel.name}}">
    <ion-content class="padding">
        <div align="center" class="bg-img">
            <img class="song-cover" ng-src="{{songCover}}" alt="Description"/>

            <div id="jquery_jplayer_1" class="jp-jplayer"></div>
            <div id="jp_container_1" class="jp-audio-stream audio-bar" role="application" aria-label="media player">
                <div class="jp-type-single">
                    <div class="jp-gui jp-interface">
                        {{currentSongInfo.tracks.track.title}}
                        {{currentSongInfo.tracks.track.artists}}
                        <div class="jp-controls">
                            <button class="jp-play" role="button" tabindex="0">play</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
