<ion-view ng-style="{'background': 'url({{channelDetailCtrl.channel.face}}) no-repeat center center fixed',
'background-size':'cover',
'-webkit-background-size': 'cover',
'-moz-background-size': 'cover',
'-o-background-size': 'cover'}" view-title="{{channelDetailCtrl.channel.name}}">
    <ion-content class="center-content">
        <div align="center">
            <img class="song-cover" align="right" src="{{channelDetailCtrl.songCover}}">

            <div class="row">
                <div class="song-info">
                    <h4 align="left">Title: {{channelDetailCtrl.songTitle}}</h4>
                    <h4 align="left">Artists: {{channelDetailCtrl.songArtists}}</h4>
                </div>
            </div>

            <div class="music-controls">
                <i class="icon play-btn" ng-click="channelDetailCtrl.play()" ng-show="playing!==true"></i>
                <i class="icon pause-btn" ng-click="channelDetailCtrl.pause()" ng-show="playing!==false"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
