<ion-view view-title="Settings" class="vibes-page">
    <ion-content>
        <ion-list class="settings-items">
            <ion-item href="#/tab/settings/contactus">
                Contact us<span class="ion-chevron-right my-custom-icon"></span>
            </ion-item>
            <ion-item href="#/tab/settings/contactus">
                Share this app<span class="ion-chevron-right my-custom-icon"></span>
            </ion-item>
            <ion-item href="#/tab/settings/contactus">
                Rate this app<span class="ion-chevron-right my-custom-icon"></span>
            </ion-item>
            <ion-item href="#/tab/settings/contactus">
                Send us a suggestion<span class="ion-chevron-right my-custom-icon"></span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
