<ion-modal-view ng-controller="ChannelDetailCtrl as channelDetailCtrl" class="channel-detail-page">
    <ion-header-bar>
        <div>
            <button class="button button-clear" ng-click="channelDetailCtrl.closeModal()"><i class="ion-chevron-down"></i></button>
        </div>
        <h1 class="title">{{channelDetailCtrl.channel.name}}</h1>
        <div class="buttons">
            <button class="button button-clear"><i class="ion-more"></i></button>
        </div>
    </ion-header-bar>
    <ion-content class="center-content">
        <div align="center">
            <img class="song-cover" align="center" src="{{songCover}}">

            <div class="row">
                <div ng-class="{'normal-song-info': channelDetailCtrl.isDefaultTheme(),'blue-song-info': !channelDetailCtrl.isDefaultTheme()}">
                    <p align="left">Title: {{songTitle}}</p>
                    <p align="left">Artists: {{songArtists}}</p>
                </div>
            </div>

            <div class="music-controls">
                <i class="icon-skip ion-skip-backward" ng-click="channelDetailCtrl.gotoPrevious(channelDetailCtrl.channel.id)"></i>
                <i class="icon-play-pause ion-play" ng-click="channelDetailCtrl.play()" ng-show="playing!==true"></i>
                <i class="icon-play-pause ion-pause" ng-click="channelDetailCtrl.pause()" ng-show="playing!==false"></i>
                <i class="icon-skip ion-skip-forward" ng-click="channelDetailCtrl.gotoNext(channelDetailCtrl.channel.id)"></i>
            </div>
        </div>
    </ion-content>
</ion-modal-view>

