<ion-modal-view ng-controller="ChannelDetailCtrl as channelDetailCtrl" class="channel-detail-page">
    <ion-header-bar class="bar-stable">
        <div>
            <i class="button button-clear" ng-click="channelDetailCtrl.closeModal()"><i class="ion-chevron-down"></i></i>
        </div>
        <h1 class="title">{{channelDetailCtrl.channel.cname}}</h1>
        <div class="buttons">
            <i class="button button-more"><i class="ion-more"></i></i>
        </div>
    </ion-header-bar>
    <ion-content class="center-content">
        <div align="center">
            <img class="song-cover" align="center" src="{{songCover}}">

            <div class="channel-face-name">
                <div ng-class="{'normal-song-info': channelDetailCtrl.isDefaultTheme(),'blue-song-info': !channelDetailCtrl.isDefaultTheme()}">
                    <p>{{songTitle}}</p>
                    <p>{{songArtists}}</p>
                </div>
            </div>

            <div class="music-controls">
                <div class="row">
                    <div class="col-33">
                        <i class="icon-skip-left ion-ios-skipbackward-outline" ng-click="channelDetailCtrl.gotoPrevious(channelDetailCtrl.channel.id)"></i>
                    </div>
                    <div class="col-33">
                        <i class="icon-play-pause ion-ios-play-outline" ng-click="channelDetailCtrl.play()" ng-show="playing!==true"></i>
                        <i class="icon-play-pause ion-ios-pause-outline" ng-click="channelDetailCtrl.pause()" ng-show="playing!==false"></i>
                    </div>
                    <div class="col-33">
                        <i class="icon-skip-right ion-ios-skipforward-outline" ng-click="channelDetailCtrl.gotoNext(channelDetailCtrl.channel.id)"></i>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>

