<ion-view view-title="vibes" class="vibes-page">
    <ion-content>
        <ion-list>
            <div ng-repeat="channel in channelsCtrl.channels" ng-if="$index % 2 == 0" class="row">
                <div class="col-50">
                 <div class="channel-wrapper">
                 <div class="list card">
                    <img class="channel-face" ng-src="{{channelsCtrl.channels[$index].face}}" ng-click="channelsCtrl.setChannel(channelsCtrl.channels[$index].id)">
                    <!--h4 class="channel-face-name"> {{channelsCtrl.channels[$index].cname}} </h4--!>
                 </div>
                 </div>
                </div>
                <div class="col-50">
                 <div class="channel-wrapper">
                 <div class="list card">
                    <img class="channel-face" ng-src="{{channelsCtrl.channels[$index+1].face}}" ng-click="channelsCtrl.setChannel(channelsCtrl.channels[$index+1].id)">
                    <!--h4 class="channel-face-name"> {{channelsCtrl.channels[$index+1].cname}} </h4--!>
                 </div>
                 </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
    <div class="music-footer" ng-if="modal!==undefined">
        <div class="row">
            <div class="col-10">
                <img class="channel-face" ng-src="{{channelsCtrl.channels[curChannel.id].face}}">
            </div>
            <div class="col-80" ng-click="channelsCtrl.openModal()">
                <marquee>
                    <h class="track">{{songTitle}}</h>
                    <p class="artist">{{songArtists}}</p>
                </marquee>
            </div>
            <div class="col-10">
                <i class="play-pause ion-ios-play" ng-click="channelsCtrl.play()" ng-show="playing!==true"></i>
                <i class="play-pause ion-ios-pause" ng-click="channelsCtrl.pause()" ng-show="playing!==false"></i>
            </div>
        </div>
    </div>
</ion-view>
