<ion-view view-title="Vibes" class="normal-channels-page">
    <ion-content>
        <ion-list>
            <div ng-repeat="channel in channelsCtrl.channels" ng-if="$index % 2 == 0" class="row">
                <a class="col" ng-click="channelsCtrl.setChannel(channelsCtrl.channels[$index].id)">
                    <span class="channel-wrapper">
                        <span class="channel-name">
                            {{channelsCtrl.channels[$index].name}}
                        </span>
                    </span>
                    <img class="channel-face" ng-src="{{channelsCtrl.channels[$index].face}}">
                </a>
                <a class="col" ng-click="channelsCtrl.setChannel(channelsCtrl.channels[$index + 1].id)">
                    <span class="channel-wrapper">
                        <span class="channel-name">
                            {{channelsCtrl.channels[$index + 1].name}}
                        </span>
                    </span>
                    <img class="channel-face" ng-src="{{channelsCtrl.channels[$index + 1].face}}">
                </a>
            </div>
        </ion-list>
    </ion-content>
    <div class="music-footer" ng-if="modal!==undefined" ng-click="channelsCtrl.openModal()">
        <span class="track">{{songTitle}}</span>
        <span class="artist">{{songArtists}}</span>
    </div>
</ion-view>
