<ion-view view-title="Vibes" class="vibes-page">
    <ion-content>
        <ion-list>
            <div ng-repeat="channel in channelsCtrl.channels" ng-if="$index % 2 == 0" class="row">
                <div class="col-50">
                    <div class="channel-wrapper">
                        <div class="list card">
                            <img class="channel-face" ng-src="{{channelsCtrl.channels[$index].face}}"
                                 ng-click="channelsCtrl.setChannel(channelsCtrl.channels[$index].id)">
                        </div>
                    </div>
                </div>
                <div class="col-50">
                    <div class="channel-wrapper">
                        <div class="list card">
                            <img class="channel-face" ng-src="{{channelsCtrl.channels[$index+1].face}}"
                                 ng-click="channelsCtrl.setChannel(channelsCtrl.channels[$index+1].id)">
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>

