@font-face {
    font-family: "Ionicons";
    src: url("http://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");
    src: url("http://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("http://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("http://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("http://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
    font-weight: normal;
    font-style: normal;
}

.button {
    font-family: "Ionicons", serif;
    font-size: 48px;
}

.play:before {
    content: '\f488'
}

.pause:before {
    content: '\f478'
}

.song-info {
    font-weight: bold;
    font-size: 14pt;
    font-style: normal;
    font-family: sans-serif;
    color: lightgreen;
}

.play-btn {
    background: url('http://www.clipartbest.com/cliparts/Mdi/7gq/Mdi7gq5c9.png') center center no-repeat;
    height: 200px;
    position: relative;
    z-index: 10;
}

.rewind-btn {
    background: url('http://a.dryicons.com/images/icon_sets/classy_icons_set/png/128x128/rewind.png') left center no-repeat;
    height: 140px;
    position: relative;
    z-index: 10;
}

.forward-btn {
    background: url('http://icons.iconseeker.com/png/fullsize/longhorn-r2/forward-button.png') right center no-repeat;
    height: 200px;
    position: relative;
    z-index: 10;
}

.audio-bar {
    width: 100% !important;
    height: auto !important;
}

.buttons-n-scroll {
    position: absolute;
    display: block;
}

.song-cover {
    width: 175px;
    height: 175px;
    position: relative;
}