.channel-face {
    height: 200px;
    width: 100%;
}
@font-face {
    font-family: "Ionicons";
    src: url("http://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");
    src: url("http://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("http://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("http://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("http://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
    font-weight: normal;
    font-style: normal;
}
.button {
    font-family: "Ionicons", serif;
    font-size: 48px;
}
.icon-large {
    font-size: x-large;
    color: #71c0b3;
}
.play:before {
    content: '\f488'
}
.pause:before {
    content: '\f478'
}
.normal-song-info {
    font-weight: bold;
    font-size: 14pt;
    font-style: normal;
    #font-family: monospace, sans-serif;
    #color: yellow;
    color: #ffffff;
    line-height: 1.2;
    margin-top: 10px;
    #font-family: sans-serif;
    #color: #71c0b3;
}
.blue-song-info {
    font-weight: bold;
    font-size: 14pt;
    font-style: normal;
    font-family: monospace, sans-serif;
    color: darkblue;
    line-height: 1.2;
    margin-top: 10px;
}
.song-cover {
    width: 320px;
    height: 320px;
    position: relative;
    border-radius: 5px;
}
.bar.bar-stable {
    #background-color: rgba(255,255,255,.3) !important;
    background-color: #71c0b3;
    #background-color: #ffd000;
}
.tabs {
    #background-color: rgba(255,255,255,.3) !important;
    background-color: #71c0b3;
    #background-color: #f2c500;
}
.scroll-content {
    overflow: visible !important;
}
.padding {
    margin: 25px !important;
}
.pane {
    background-color: #ffffff;
}
.item-complex .item-content, .item-radio .item-content {
    background-color: #B36C6C;
    #background-color: #ffffff;
}
.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
    padding-left: 125px;
    min-height: 100px;
    font-size: 20pt;
}
.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
    #color: darkblue;
    color: #ffffff;
}
.bar.bar-stable .title {
    #color: darkblue;
    color: #ffffff;
}
.bar-stable .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    #color: darkblue;
    color: #ffffff;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: orange;
    font-weight: bold;
    font-family: monospace, sans-serif;
    line-height: 1.2;
}
.center-content {
  padding: 2px;
}

/* Music Controls */
.music-controls .icon{
    display: inline-block;
    height: 300px;
    position: relative;
    z-index: 10;
    width: 100%;
    zoom: 20%;
}

.music-controls .play-btn {
    background: url('http://www.clipartbest.com/cliparts/dir/65K/dir65Kei9.png') center center no-repeat;
}

.music-controls .pause-btn {
    background: url('http://www.clker.com/cliparts/2/r/L/G/x/e/pause-button-dark-red-md.png') center center no-repeat;
}
.channel-wrapper {
    background-color: grey;
    opacity: 0.3;
    width: 100%;
    height: 40px;
    position: absolute;
}
.channel-name {
    color: white;
    font-family: monospace;
    font-weight: 500;
    font-size: 10pt;
    margin: 10px 0 0 20px;
    position:fixed;
}
.row {
    padding: 0;
}
.normal-channels-page {
    #background-color: lightgreen;
    background-color: #566870;
}
