.channel-face {
    height: 200px;
    width: 100%;
}

@font-face {
    font-family: "Ionicons";
    src: url("http://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");
    src: url("http://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("http://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("http://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("http://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
    font-weight: normal;
    font-style: normal;
}

.button {
    font-family: "Ionicons", serif;
    font-size: 48px;
}

.icon-large {
    font-size: xx-large;
    color: #71c0b3;
}
.normal-song-info {
    font-weight: bold;
    font-size: 12pt;
    font-style: normal;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #50514F;
    line-height: 1.2;
    margin-top: 10px;
}

.blue-song-info {
    font-weight: bold;
    font-size: 14pt;
    font-style: normal;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    #color: darkblue;
    color: #50514F;
    line-height: 1.2;
    margin-top: 10px;
}

.song-cover {
    width: 100%;
    height: 400px;
    position: relative;
    #border-radius: 10px;
}

.bar.bar-stable {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    #background-color: rgba(255, 255, 255, .3) !important;
    #background-color: #71c0b3;
    background-color: #e86e6e;
    #background-color: #ffd000;
}

.tabs {
    #background-color: rgba(255, 255, 255, .3) !important;
    #background-color: #71c0b3;
    background-color: #e86e6e;
    #background-color: #f2c500;
}

.scroll-content {
    overflow: visible !important;
}

.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
    padding-left: 125px;
    min-height: 100px;
    font-size: 20pt;
}

.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
    #color: darkblue;
    color: #ffffff;
}

.bar.bar-stable .title {
    #color: darkblue;
    color: #ffffff;
}

.bar-stable .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    #color: darkblue;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: darkblue;
    font-weight: bold;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    line-height: 1.2;
}

.center-content {
    padding: 2px;
}

.music-controls .icon-play-pause {
    display: inline-block;
    position: relative;
    font-size: 50px;
    color: #50514F;
}

.music-controls .icon-skip {
    display: inline-block;
    position: relative;
    font-size: 40px;
    padding: 20px;
    color: #50514f;
}

.channel-wrapper {
    background-color: grey;
    opacity: 0.3;
    width: 100%;
    height: 40px;
    position: absolute;
}

.channel-name {
    color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 500;
    font-size: 10pt;
    margin: 10px 0 0 20px;
    position: fixed;
}

.row {
    padding: 0;
}

.vibes-page {
    #background-color: lightblue;
}

.contact-info {
    font-size: 12pt;
    font-family: monospace, sans-serif;
    color: darkblue;
    margin: 20px;
}

.settings-items {
    font-size: 12pt;
    font-family: monospace, sans-serif;
    color: darkblue;
    background: transparent;
}

.my-custom-icon {
    float: right;
}

.channel-detail-page {
    #background-color: lightblue;
}

.music-footer{
    position: fixed;
    bottom: 47px;
    left:0;
    right: 0;
    text-align: center;
    height: 46px;
    border-top:1px solid #b2b2b2;
    background-color: #f8f8f8;
    cursor: pointer;
}
.music-footer .track, .music-footer .artist{
    float: left;
    width: 100%;
    margin: 0;
    font-size: 12px;
}
.music-footer .track{
    margin-top: 3px;
    font-weight: bold;
}
